<!doctype html>
<html lang="en" data-bs-theme="light">
    <head>
        <title>Proutum's Senior Web Design Portfilio</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/x-icon" href="imgs/aboutIcon.png">

        <!-- Bootstrap CSS v5.3.8 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous"
        />

        <link rel="stylesheet" href="style.css" />

        <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
    </head>

    <body style="max-height: 60vh">
        <div id="vue_app">
            <main style="height: 81.8vh">

                <div class="row col-md-6 col-lg-4 col-xl-3 px-5 h-100">
                    <!-- App/Program Icon -->
                    <div class="text-center col-6 col-md-5 my-3" v-for="(apps, index) in extras" :key="index">
                        <a @click="openMainModal(apps)">
                            <div class="h-100 appIcon" style="cursor: pointer;">
                                <img :src="apps.icon" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-title">{{ apps.name }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="modal-box" :class="activeModal.classname" v-if="activeModal">
                    <!-- Modal Header -->
                    <div class="modalHeader justify-content-between d-flex align-items-center p-3">
                        <span class="h2">{{ activeModal.name }}</span>
                        <span style="float: right"><button type="button" class="btn-close" @click="closeMainModal"></button></span>
                    </div>

                    <!-- Projects -->
                    <div class="projectModals" v-if="activeModal.type === 'year'">
                        <div class="row">
                            <div class="col-3 d-none d-md-block project-sidebar">
                                <ul class="sidebar-list">
                                    <li class="sidebar-item">{{ activeModal.name }}</li>
                                    <li class="sidebar-child" v-for="(project, index) in activeProjects" :key="index" @click="openProject(project)" :class="{ active: activeProject && activeProject.projectName === project.projectName }">
                                        {{ project.projectName }}
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-9">

                                <!-- Project Buttons -->
                                <div class="row text-center projectRows">
                                    <div class="col-6 col-md-3" v-for="(project, index) in activeProjects" :key="index" @click="openProject(project)">
                                        <img :src="project.icon" class="card-img-top" alt="...">
                                        <p>{{ project.projectName }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        <!-- Details -->
                        <div class="side-modal" v-if="activeProject">
                            <div class="modalHeader justify-content-between d-flex align-items-center p-3">
                                <button type="button" class="btn-close text-right" @click="closeProjectModal"></button>
                            </div>
                            
                            <center>
                                <div>
                                    <img :src="activeProject.icon" style="height: 300px">
                                </div>
                                <h3><a :href="activeProject.link">{{ activeProject.projectName }}</a></h3>
                                <p>{{ activeProject.description }}</p>
                            </center>
                        </div>
                    </div>

                    <!-- About -->
                    <div class="innerAbout" v-if="activeModal.type === 'about'">
                        <div v-for="(info, index) in activeAbout" :key="index">
                            <div class="row py-1 text-center text-md-left" style="overflow-y: auto">
                                <div class="col-md-6 col-lg-4"><img :src="info.icon" style="height: 300px"></div>
                                <div class="col-md-6 col-lg-8">
                                    <h3>{{ info.section }}</h3>
                                    <p>{{ info.information }}</p>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                     <!-- Other Works Directory-->
                    <div v-if="activeModal.type === 'works'">
                        <div class="row">
                            <div class="col-lg-6 mx-auto" v-for="(work, index) in activeWorks" :key="index">
                                <h3>{{ work.name }}</h3>
                                <p>{{ work.description }}</p>
                            </div>
                        </div>
                    </div>

                    
                </div>
        </main>
        <footer class="site-footer d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top" style="height: 15vh">
            <div class="w-100 text-center">
                <div class="socials">
                    <a v-for="(s, i) in socials" :key="i" :href="s.link" target="_blank" rel="noopener noreferrer" :aria-label="s.name">
                        <img :src="s.icon" :title="s.name" data-bs-toggle="tooltip" class="social-icon mx-2">
                    </a>
                </div>
            </div>
        </footer>
    </div>
        <!-- Bootstrap JavaScript Bundle (includes Popper) -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"
        ></script>
        <script src="script.js"></script>
    </body>
</html>
