<!doctype html>
<html lang="en" data-bs-theme="light">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap CSS v5.3.8 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
            crossorigin="anonymous"
        />

        <link rel="stylesheet" href="style.css" />

        <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
    </head>

    <body>
        <main>

            <div id="vue_app">
                <div class="row col-md-4 col-xl-3 px-5 bg-info h-100">
                    <!-- App/Program Icon -->
                    <div class="col-5 my-3" v-for="(apps, index) in extras" :key="index">
                        <a @click="openMainModal(apps)">
                            <div class="card h-100" style="cursor: pointer;">
                                <img :src="apps.icon" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-title">{{ apps.name }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="modal-box" :class="activeModal.classname" v-if="activeModal">
                    <h2>{{ activeModal.name }}</h2>
                    <button type="button" class="btn-close" @click="closeMainModal"></button>

                    <div v-if="activeModal.type === 'year'">
                        <div class="row">
                            <div class="col-6 col-md-3" v-for="(project, index) in activeProjects" :key="index" @click="openProject(project)">
                            <p>{{ project.projectName }}</p>
                            </div>
                        </div>
                    </div>

                    <div v-if="activeModal.type === 'about'">
                        <h3>{{ activeAbout.section }}</h3>
                        <p>{{ activeAbout.information }}</p>
                    </div>

                    <div v-if="activeModal.type === 'works'">
                        <div v-for="(work, index) in activeWorks" :key="index">
                        <h3>{{ work.name }}</h3>
                        <p>{{ work.description }}</p>
                        </div>
                    </div>

                    <div class="side-modal" v-if="activeProject">
                        <button type="button" class="btn-close" @click="closeMainModal"></button>
                        <h3>{{ activeProject.projectName }}</h3>
                        <p>{{ activeProject.description }}</p>
                    </div>
                </div>

            </div>
        </main>
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"> </footer>
        <!-- Bootstrap JavaScript Bundle (includes Popper) -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"
        ></script>
        <script src="script.js"></script>
    </body>
</html>
