/* Overall Styling */
.modal-content {
    border-radius: 0!important;
}


/* Small devices (phones, less than 600px) */
@media screen and (max-width: 600px) {
    .sophomorefolder {
        margin-top: 0px;
        width: 100%
    }
}

/* Medium devices (tablets, 601px to 1024px) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .sophomorefolder {
        margin-top: 100px;
        margin-left: 50px;
        width: 500px
    }
}

/* Large devices (desktops, more than 1024px) */
@media screen and (min-width: 1025px) {
    .sophomorefolder {
        margin-top: 200px;
        margin-left: 200px;
        width: 650px
    }
}

/* Example: Portrait orientation */
@media screen and (orientation: portrait) {
    .sophomorefolder {
        margin-top: 0px;
        width: 100%
    }
}